[submodule "config/awesome"]
	path = config/awesome
	url = git@github.com:sattelite/awesome.git
[submodule "config/zsh-git-prompt"]
	path = config/zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
